/* Contenedor principal de la tarjeta */
.card-container {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Contenedor de la imagen */
.card-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 8%;
    height: 100%;
}

.card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Contenedor de la información principal (título y autor) */
.card-info-container {
    position: absolute;
    top: 0;
    left: 8%;
    width: 89%;
    height: 100%;
    padding: 10px;
}

/* Contenedor del título y el autor, usando grid */
.title-author-container {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

/* Contenedor de cada ítem dentro del título y autor */
.title-author-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-left: 30px;
}

.title-author-item img {
    width: 20px;
    height: 20px;
}

/* Contenedor de las características de la canción */
.song-features-container {
    /* border: 1px solid plum; */
    height: 50%;
    display: grid;
    /* grid-template-columns: auto auto auto auto auto; */
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

/* Estilos de cada característica de la canción */
.song-feature {
    padding: 5px 0;
    border-radius: 10px;
    text-align: center;
    width: 60%;
}

/* Estilos específicos de cada característica */
.song-feature-danceability {
    border: 1px solid #d6af78;
    color: #d6af78;
}

.song-feature-energy {
    border: 1px solid #d9bba7;
    color: #d9bba7;
}

.song-feature-key {
    border: 1px solid #96CFF2;
    color: #96CFF2;
}

.song-feature-tempo {
    border: 1px solid #ABC8FF;
    color: #ABC8FF;
}

.song-feature-duration {
    border: 1px solid #a7c5d9;
    color: #a7c5d9;
}

/* Contenedor de los botones (como Play y Eliminar) */
.buttons-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.buttons-container img {
    width: 20px;
    height: 20px;
    cursor: pointer !important;
}

/* Subtítulos */
.subtitle {
    font-size: 24px;
}

/* Texto general */
button {
    background-color: transparent;
    border: none;
}

