<body>
  <a routerLink="/editar-set" routerLinkActive="active-link">
    <button>
      <img src="../../../assets/Iconos/back.png" class="back" alt="play" />
    </button>
  </a>
  
    <p class="title"><span>Canciones</span> recomendadas</p>

    <div class="busc">
        <button>
            <img src="../../../assets/Iconos/refresh.png" class="act" alt="buscar" />
          </button>
      </div>
  
    <div class="content">

      <div class="canciones">
        <app-tarjeta-cancion></app-tarjeta-cancion>
      </div>
      <div class="repro"></div>

    </div>
    
  </body>
  
  