<main>
  <a routerLink="/editar-set" routerLinkActive="active-link">
    <button>
      <img src="../../../assets/Iconos/back.png" class="back" alt="play" />
    </button>
  </a>
  
    <p class="title"><span>Canciones</span> recomendadas</p>

    <!-- <div class="menu-icon-box">
        <button (click)="onRefreshRecommendations()">
            <img src="../../../assets/Iconos/refresh.png" class="act" alt="actualizar" />
        </button>
        <p class="etiqueta">Actualizar recomendaciones</p>
    </div> -->


    <div class="menu">
      <!-- Primer ícono en el menú (Analizar) -->
      <div class="menu-icon-box">
        <button (click)="onRefreshRecommendations()">
              <div class="menu-icon">
                  <!-- Icono de estado por defecto -->
                  <img class="default-icon" src="../../../assets/Iconos/refresh.png" alt="analyze blue">
                  <!-- Icono que aparece cuando se pasa el ratón por encima -->
                  <img class="hover-icon" src="../../../assets/Iconos/refresh.png" alt="analyze white">
              </div>
          </button>
          <p class="etiqueta">Analizar</p> <!-- Texto descriptivo del ícono -->
      </div>
    </div>

<div class="content">
  <div class="canciones">
    <div *ngIf="isLoading" class="loading-container">
      <p>Cargando recomendaciones...</p>
  </div>
    <app-tarjeta-cancion
      *ngFor="let recommendation of recommendations"
      [song]="recommendation"
      (addSongToSet)="onAddSongToSet($event)"
      (playSong)="onPlaySong($event)">
    </app-tarjeta-cancion>
  </div>

  
      <div class="repro">
        <p>Dale al play para escuchar tus canciones aquí</p>
        <iframe *ngIf="spotifyUrl" 
        [src]="spotifyUrl | safe" 
        width="100%" 
        height="100%" 
        frameborder="0" 
        allowtransparency="true" 
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      </div>
      
    </div>
  
    <div *ngIf="showValidation">
      <app-validacion-anadir 
        [songId]="selectedSongId"
        (closeValidation)="closeVal()" 
        (confirmAdd)="onConfirmAdd($event)">
      </app-validacion-anadir>
    </div>
    
  </main>
  
  