<main>
  <a routerLink="/editar-set" routerLinkActive="active-link">
    <button>
      <img src="../../../assets/Iconos/back.png" class="back" alt="play" />
    </button>
  </a>

  <p class="title">Añadir <span>Canciones</span></p>

  <div class="filtro">

    <div class="filt">

      <div class="fil1">
        <img src="../../../assets/Iconos/danceability.png" class="subIcon" alt="play" />
        <p class="dance">Danceability&nbsp;&nbsp;</p>
        <input type="text" class="subInp1" [(ngModel)]="danceability" />
      </div>

      <div class="fil">
        <img src="../../../assets/Iconos/energy.png" class="subIcon" alt="play" />
        <p class="ener">Energía&nbsp;&nbsp;&nbsp;</p>
        <input type="text" class="subInp" [(ngModel)]="energy" />
      </div>

      <div class="fil3">
        <img src="../../../assets/Iconos/key.png" class="subIcon" alt="play" />
        <p class="key">Key&nbsp;&nbsp;</p>
        <input type="text" class="subInp3" [(ngModel)]="key" />
      </div>

      <div class="fil">
        <img src="../../../assets/Iconos/tempo.png" class="subIcon" alt="play" />
        <p class="temp">Tempo&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <input type="text" class="subInp" [(ngModel)]="tempo" />
      </div>

    </div>

    <div class="busca">
      <div class="busc">
        <input
          type="text"
          class="buscador"
          placeholder="Buscar por título o autor..."
          [(ngModel)]="searchText" />
      </div>
      <button (click)="search()">
        <img src="../../../assets/Iconos/search.png" class="lupa" alt="buscar" />
      </button>
    </div>

  </div>

  <div class="content">
    <div class="canciones">
      <div *ngIf="isLoading" class="loading-container">
        <p>Cargando tus canciones guardadas...</p>
    </div>
      <app-tarjeta-cancion 
      *ngFor="let song of songs"
      [song]="song"
      (addSongToSet)="onAddSongToSet($event)"
      (playSong)="onPlaySong($event)">
      </app-tarjeta-cancion>
    </div>

    <div *ngIf="spotifyUrl" class="repro">
      <iframe *ngIf="spotifyUrl" 
      [src]="spotifyUrl | safe" 
      width="100%" 
      height="100%" 
      frameborder="0" 
      allowtransparency="true" 
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
    
  </div>

  <div *ngIf="showValidation">
    <app-validacion-anadir 
      [songId]="selectedSongId"
      (closeValidation)="closeVal()" 
      (confirmAdd)="onConfirmAdd($event)">
    </app-validacion-anadir>
  </div>
  

</main>
