<main>

    <div class="mensaje-bienvenida">
        <h1 id="titulo-bienvenida">Organiza y transforma tu música en arte</h1>
        <p id="subtitulo-bienvenida">Conecta con Spotify y descubre una herramienta diseñada para DJs</p>
        <button class="btn-vincular-spotify" [routerLink]="'editar-set-vacia'">
            <img src="../../../assets/Iconos/spotify.png" alt="">
            <span>Vincular Spotify</span>
        </button>
    </div>

    <div class="seccion-propuestas">
        <div class="item-propuestas">
            <p class="bold">Gestión musical:</p>
            <p>Importa tus canciones desde Spotify.</p>
        </div>
        <div class="item-propuestas">
            <p class="bold">Análisis avanzado:</p>
            <p>Obtén datos como clave, tempo y tonalidad.</p>
        </div>
        <div class="item-propuestas">
            <p class="bold">Crea sets personalizados:</p>
            <p>Organiza y encuentra las canciones perfectas para tus eventos.</p>
        </div>
    </div>

    <div class="seccion-pasos">
        <div class="item-pasos">
            <img src="../../../assets/Iconos/spotify.png" alt="logo spotify">
            <p>Conecta tu cuenta de Spotify</p>
        </div>
        <img id="flecha-abajo" src="../../../assets/Iconos/flecha-derecha.png" alt="flecha derecha">
        <div class="item-pasos" id="paso-dos">
            <img src="../../../assets/Iconos/title.png" alt="nota musical">
            <p>Analiza tu música con datos avanzados</p>
        </div>
        <img id="flecha-arriba" src="../../../assets/Iconos/flecha-derecha.png" alt="flecha derecha">
        <div class="item-pasos">
            <img src="../../../assets/Iconos/dj.png" alt="dj">
            <p>Crea y organiza sets personalizados</p>
        </div>
    </div>

</main>

<app-footer></app-footer>