/* Estilo general del header */
header {
  border: 0px solid red;
  background-color: var(--color-secuandario);
  color: var(--color-fondo);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
}

/* Contenedor del logo */
.header-logo {
  border: 0px solid purple;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 33.33%;
}

/* Estilo de la imagen del logo */
.header-logo img {
  border: 0px solid salmon;
  height: 130px;
  width: auto;
  margin-top: 15px;
}

/* Contenedor del título */
.header-title {
  border: 0px solid greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33.33%;
}

.header-title a{
  text-decoration: none;
  color: var(--color-fondo);
  font-family: "Montserrat", serif;
  font-size: xx-large;
  font-weight: 650;
}

/* Contenedor del menu */
.header-menu {
  border: 0px solid orange;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 33.33%;
  gap: 20px;
}

/* Estilo de los enlaces del menú */
.menu-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Estilo del icono de cada enlace */
.menu-link-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.default-icon, .hover-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}

.hover-icon {
  opacity: 0; /* Oculto por defecto */
}

/* Estilo del texto de cada enlace */
.menu-link a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  background-color: transparent;
  color: var(--color-fondo);
  transition: background-color 0.3s, color 0.3s;
}

/* Efectos de hover y estado activo para los enlaces */
.menu-link a:hover, .menu-link .active-link {
  background-color: var(--color-terciario);
  color: white;
}

.menu-link a:hover .default-icon, .menu-link .active-link .default-icon {
  opacity: 0;
}

.menu-link a:hover .hover-icon, .menu-link .active-link .hover-icon {
  opacity: 1;
}

/* Estilo de la imagen de perfil */
.profile {
  border: 0px solid yellow;
  position: relative;
}

.profile-picture {
  border-radius: 50%;
  height: 50px;
  width: auto;
  margin-right: 30px;
}

/* Estilo del menú desplegable */
.dropdown {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 100%;
  right: 30%;
  background-color: var(--color-fondo);
  border-radius: 8px;
  color: white;
  z-index: 10;
}

.profile:hover .dropdown {
  display: flex;
  flex-direction: column;
}

/* Estilo de los enlaces dentro del menú desplegable */
.dropdown-link a {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  text-decoration: none;
  background-color: transparent;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  width: 170px;
}

/* Efecto de hover en los enlaces del menú desplegable */
.dropdown-link a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

/* Color especial para el enlace de "Editar Perfil" */
.edit-profile {
  color: #6fd861;
}

/* Tamaño especial para cerrar sesión */

.menu-link-icon-cerrar-sesion {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.menu-link-icon-cerrar-sesion img {
  border: 0px solid red;
  width: 25px;
  height: 25px;
}

/* Estilo del botón vincular Spotify */
.menu-button {
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: #6fd861;
  font-size: large;
  color: white;
  margin-right: 30px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

/* Estilo del icono dentro del botón */
.menu-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}


/* Estilo del botón de vinculación de Spotify */
.btn-vincular-spotify {
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: #6fd861;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  margin-right: 30px;
  font-size: 20px;
  cursor: pointer;
}

/* Estilo del icono dentro del botón de vinculación de Spotify */
.btn-vincular-spotify img {
  border: 0px solid transparent;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}


/* Media queries para pantallas más pequeñas */
@media (max-width: 1024px) {
  .header-logo {
    width: 15%;
  }
  .header-title, .header-menu {
    width: auto;
  }
}
