<body>
    <!-- Botón de retroceso con imagen de ícono -->
    <a routerLink="/mis-sets">
        <img src="../../../assets/Iconos/back.png" class="back" alt="play" />
    </a>
    
     <!-- Campo de entrada para nombrar el set -->
     <div class="input-container">
        <input type="text" class="title-input" placeholder="" 
        (input)="onInputChange($event)"
        (blur)="onInputBlur()"
        [(ngModel)]="inputValue">
        <span class="fake-placeholder">{{ title }}</span>
    </div>

    <!-- Menú de íconos con enlaces -->
    <div class="menu">

        <!-- Primer ícono en el menú (Analizar) -->
        <div class="menu-icon-box">
            <a routerLink="/analisis">
                <div class="menu-icon">
                    <!-- Icono de estado por defecto -->
                    <img class="default-icon" src="../../../assets/Iconos/analyze blue.png" alt="analyze blue">
                    <!-- Icono que aparece cuando se pasa el ratón por encima -->
                    <img class="hover-icon" src="../../../assets/Iconos/analyze white.png" alt="analyze white">
                </div>
            </a>
            <p class="etiqueta">Analizar</p> <!-- Texto descriptivo del ícono -->
        </div>

        <!-- Segundo ícono en el menú (Recomendaciones) -->
        <div class="menu-icon-box">
            <a routerLink="/recomend">
                <div class="menu-icon">
                    <!-- Icono de estado por defecto -->
                    <img class="default-icon" src="../../../assets/Iconos/idea blue.png" alt="recommend blue">
                    <!-- Icono que aparece cuando se pasa el ratón por encima -->
                    <img class="hover-icon" src="../../../assets/Iconos/idea white.png" alt="recommend white">
                </div>
            </a>
            <p class="etiqueta">Recomendaciones</p> <!-- Texto descriptivo del ícono -->
        </div>

        <!-- Tercer ícono en el menú (Añadir) -->
        <div class="menu-icon-box">
            <a routerLink="/canciones">
                <div class="menu-icon">
                    <!-- Icono de estado por defecto -->
                    <img class="default-icon" src="../../../assets/Iconos/add blue.png" alt="add blue">
                    <!-- Icono que aparece cuando se pasa el ratón por encima -->
                    <img class="hover-icon" src="../../../assets/Iconos/add white.png" alt="add white">
                </div>
            </a>
            <p class="etiqueta">Añadir</p> <!-- Texto descriptivo del ícono -->
        </div>

        <!-- Cuarto ícono en el menú (Guardar) -->
        <!-- <div class="menu-icon-box">
            <a routerLink="#" (click)="onSave()">
                <div class="menu-icon">
                    <img class="default-icon" src="../../../assets/Iconos/save blue.png" alt="save blue">
                    <img class="hover-icon" src="../../../assets/Iconos/save white.png" alt="save white">
                </div>
            </a>
            <p class="etiqueta">Guardar</p> 
        </div> -->

    </div>

    <!-- Contenedor donde se muestran las canciones del set -->
    <div class="canciones" cdkDropList (cdkDropListDropped)="onDrop($event)">
        <div *ngFor="let song of djSet.songs" cdkDrag>
            <app-tarjeta-cancion-set [card]="song"></app-tarjeta-cancion-set>
        </div>
    </div>
    
    <!-- Mostrar mensaje de validación si showValidation es verdadero -->
    <div *ngIf="showTitleValidation">
        <app-validacion-cambiar-titulo (closeValidation)="closeTitleValidation()"
        (confirmValidation)="confirmTitleValidation()"></app-validacion-cambiar-titulo>
    </div>

    <div *ngIf="showMoveValidation">
        <app-validacion-mover-cancion (closeValidation)="closeMoveValidation()" 
        (confirmValidation)="confirmMoveValidation()"></app-validacion-mover-cancion>
    </div>
    
</body>

