<main>
    <content>
        <div class="head">
            <img src="../../../assets/Img/nosotros.png" alt="" class="noso">

            <div class="texto">
                <p class="titulo">Conoce al equipo detras de <span class="beat">BeatCraft</span></p>
                <br>
                <p class="info">Somos dos estudiantes de programacion apasionados por la música y la tecnología. 
                    Al ver lo complicado que era gestionar canciones y crear sets personalizados, 
                    decidimos unir nuestras habilidades para diseñar una herramienta intuitiva y 
                    poderosa para DJs.</p>
            </div>

        </div>

        <div class="perfil">

            <div class="perfil1">

                <div class="info1">
                    <p class="sobre">Sobre <span class="nombre">Eugenio</span></p>
                    <br>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and </p>
                    <br>
                    <p>Rol: desarrollador Backend</p>
                    <br>
                    <a href=""><img src="../../../assets/Iconos/github.png" class="icon"></a>
                    <br><br>
                    <a href=""><img src="../../../assets/Iconos/linkedin.png" class="icon"></a>
                </div>

                <div class="imag">
                    <img src="../../../assets/Img/alguien.png" alt="" class="alguien">
                </div>
            </div>

            <div class="perfil2">

                <div class="info2">
                    <p class="sobre">Sobre <span class="nombre">Catalina</span></p>
                    <br>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and </p>
                    <br>
                    <p>Rol: desarrollador Backend</p>
                    <br>
                    <a href=""><img src="../../../assets/Iconos/github.png" class="icon"></a>
                    <br><br>
                    <a href=""><img src="../../../assets/Iconos/linkedin.png" class="icon"></a>
                </div>

                <div class="imag">
                    <img src="../../../assets/Img/alguien.png" alt="" class="alguien">
                </div>

            </div>
        </div>
    </content>
</main>
