/* Estilo general para el cuerpo de la página */
main {
  border: 0px solid red;
  background: linear-gradient(90deg, var(--color-fondo), var(--color-gradiant));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 150px;
  gap: 50px;
  margin: 0;
  height: 92vh;
  position: relative;
}

/* Fondo adicional detrás del cuerpo */
main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../../assets/Img/logo_1.png) center/cover no-repeat;
  background-size: 50%;
  opacity: 0.05;
  pointer-events: none; /* Permite que no interfiera con el hover*/
}

  content{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  .head{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }

  .noso{
    height: 100%;
    width: 40%;
  }

  .texto{
    width: 60%;
    height: 100%;
    margin-left: 10%;
    margin-right: 50px;
  }
  .titulo{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
  }
  .beat{
    color: var(--color-fondo);
    font-family: 'Montserrat', sans-serif;
  }

  .info{
    font-size: 24px;
  }

  .perfil{
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .perfil1{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .perfil2{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
  }


  .sobre{
    font-size: 36Px;
  }
  .info1, .info2{
    width: 50%;
    font-size: 20px;
  }

  .nombre{
    color: var(--color-complemento);
  }

  .imag{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    
  }

  .icon{
    width: 30px;
    height: 30px;
  }

  .alguien{
    height: 80%;
    margin-right: 150px;
    border-radius: 10px;
  }