
body {
  margin: 0;
  height: 92vh;
  background: linear-gradient(90deg, var(--color-fondo), var(--color-gradiant));
  color: white;
  display: flex;
  flex-direction: column;
  padding: 110px;
}

.title {
  font-size: 48px;
  position: absolute;
  top: 115px;
  left: 110px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
  
  .busc {
    position: absolute;
    top: 115px;
    right: 110px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  
  button {
    border: none;
    background: none;
  }
  
  img {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  
  span {
    color: var(--color-complemento);
    font-family: 'Montserrat', sans-serif;
  }

  input {
    width: 100%; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    background-color: transparent; 
    color: white; 
    font-size: large; 
    outline: none; 
    font-family: 'Montserrat', sans-serif;
} 

.lupa{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-left: -40px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px ;
}

.set{

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  width: 100%;
  height: calc(90vh - 200px); 
  overflow-y: auto; 
  margin-top: 3%;
}


.set::-webkit-scrollbar {
  width: 5px; 
}

.set::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3); 
  border-radius: 8px; 
}

.set::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5); 
}

.set::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
}

.card2 {
  margin-top: 2%;
  width: 260px;
  height: 260px;
  background-color: var(--color-fondo);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.header2 {
  background-color: var(--color-fondo);
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  transition: background-color 0.3s; 
}

.content2 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  position: relative;
  transition: opacity 0.3s;
}

.add {
  width: 60px;
  height: 60px;
  margin-top: -40px;
}

.card2:hover {
  background-color: var(--color-terciario); 
}

.card2:hover .header2 {
  background-color: var(--color-terciario); 
}

.card2.ng-hide {
  opacity: 0;
  transform: scale(0.9);
}
