  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 52px;
    margin-top: 4%;
  }

  span {
    color: var(--color-complemento);
  }
  
  .card {
    width: 260px;
    height: 260px;
    background-color: #d58b85; 
    /* background-image: ; */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
  
  .header {
    background-color: var(--color-fondo); 
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px; 
    position: relative;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card:hover .content {
    opacity: 1; 
  }
  
  .card:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .content .play-btn img {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  
  .footer {
    background-color: rgba(0, 0, 0, 0.3);
    height: 20%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -20%;
    left: 0;
    right: 0;
    transition: bottom 0.3s ease-in-out;
  }
  
  .card:hover .footer {
    bottom: 0; 
  }
  
  .footer::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #ffffff;
    transform: translateX(-50%);
  }
  
  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  button {
    border: none;
    background: none;
  }
/* --------------Añadir set-------------------- */

.card2 {
  width: 260px;
  height: 260px;
  background-color: var(--color-fondo);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.header2 {
  background-color: var(--color-fondo);
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  transition: background-color 0.3s; 
}

.content2 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  position: relative;
  transition: opacity 0.3s;
}

.add {
  width: 60px;
  height: 60px;
  margin-top: -40px;
}

.card2:hover {
  background-color: var(--color-terciario); 
}

.card2:hover .header2 {
  background-color: var(--color-terciario); 
}

