
<div class="container">
  <div class="card">
    <div class="header">{{ djset.titulo }}</div> 
    <div class="content"
      [ngStyle]="{ 'background-image': 'url(' + djset.imagen + ')', 'background-size': 'cover', 'background-position': 'center' }">
      <button class="play-btn" (click)="onclickPlay()">
        <img src="../../../assets/Iconos/play-circle.png" alt="play" />
      </button>
    </div>
    <div class="footer">
      <button class="icon" (click)="onclickDel()">
        <img src="../../../assets/Iconos/delete.png" alt="Eliminar" />
      </button>
      <button class="icon" (click)="onclickEdit()">
        <img src="../../../assets/Iconos/edit.png" alt="Editar" />
      </button>
    </div>
  </div>
</div>


