/* Estilo general del footer */
footer {
    background-color: var(--color-secuandario);
    color: var(--color-fondo);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

/* Contenedor de información del footer */
.footer-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 66.66%;
}

/* Elemento individual en los detalles del footer */
.detail-item {
    display: flex;
    align-items: center;
}

.detail-item img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.detail-item a {
    text-decoration: none;
    color: var(--color-fondo);
    transition: color 0.3s;
}

.detail-item a:hover {
    color: white;
}

/* Estilo para la sección del logo */
.footer-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33.33%;
}

.footer-logo img {
    height: 130px;
    width: auto;
    margin-bottom: -15px;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 1024px) {
    .footer-details {
        width: auto;
    }
    .footer-logo {
        width: 15%;
    }
}
