<footer>
    <div class="footer-details">

        <!-- Contacto -->
        <div class="detail-item">
            <img src="../../../assets/Iconos/email blue.png" alt="Icono de correo">
            <div>
                <h4>Contáctanos</h4>
                <a href="mailto:beatcraft@gmail.com">beatcraft@gmail.com</a>
            </div>
        </div>

        <!-- Nosotros -->
        <div class="detail-item">
            <img src="../../../assets/Iconos/nosotros blue.png" alt="Icono de nosotros">
            <div>
                <h4>BeatCraft</h4>
                <a href="nosotros">Quiénes somos</a>
            </div>
        </div>

        <!-- Derechos reservados -->
        <div class="detail-item">
            <img src="../../../assets/Iconos/copyright.png" alt="Icono de copyright">
            <div>
                <p>2024 BeatCraft. Todos los derechos reservados.</p>
                <p>Integrado con la API de Spotify.</p>
            </div>
        </div>

    </div>

    <!-- Logo -->
    <div class="footer-logo">
        <img src="../../../assets/Img/logo.png" alt="Logo de BeatCraft">
    </div>
</footer>
