<footer>
    
    <div id="texto">

        <div class="item">
            <img src="../../../assets/Iconos/email blue.png" alt="correo">
            <div>
                <h4>Contáctanos</h4>
                <a href="">email</a>
            </div>
        </div>

        <div class="item">
            <img src="../../../assets/Iconos/nosotros blue.png" alt="nosotros">
            <div>
                <h4>BeatCraft</h4>
                <a href="">Quiénes somos</a>
            </div>
        </div>

        <div class="item">
            <img src="../../../assets/Iconos/copyright.png" alt="copyright">
            <div>
                <p>2024 BeatCraft. Todos los derechos reservados</p>
                <p>Integrado con la API de Spotify</p>
            </div>
        </div>

    </div>

    <div id="logo"><img src="../../../assets/Img/logo.png" alt="logo"></div>
  
</footer>
