<div class="container">

    <div class="card" *ngFor="let card of filteredCards">
      <div class="header">

        <div class="datos">
          <div class="tit">
            {{ card.title }} 
          </div>
          {{ card.autor }}
        </div>
        <a routerLink="/editar-set" routerLinkActive="active-link">
          <img src="../../../assets/Iconos/add white.png" class="add" alt="edit"/>
        </a>
      </div>

      <div class="content">
        <div class="overlay"></div>

        <button class="play-btn">
          <img src="../../../assets/Iconos/play-circle.png" alt="play" />
        </button>
      </div>

      <div class="footer">
        <img src="../../../assets/Iconos/danceability.png" class="subIcon" alt="play" /> :
        {{card.danceability}}
        <img src="../../../assets/Iconos/energy.png" class="subIcon" alt="play" /> :
        {{card.energy}}
        <img src="../../../assets/Iconos/key.png" class="subIcon" alt="play" /> :
        {{card.key}}
        <img src="../../../assets/Iconos/tempo.png" class="subIcon" alt="play" /> :
        {{card.tempo}}
        <img src="../../../assets/Iconos/duracion.png" class="subIcon" alt="play" /> :
        {{card.duracion}}
      </div>

    </div>
  </div>
  