<div class="container">
  <div class="card" >
    <div class="header">
      <div class="datos">
        {{ song.songName | limit:23 }} 
        <br>
        <div class="aut">
          {{ song.artistName | limit:23 }}
        </div>
      </div>
      <button (click)="onclickAdd(song)">
        <img src="../../../assets/Iconos/add white.png" class="add" alt="edit"/>
      </button>
    </div>

    <div class="content" [ngStyle]="{'background-image': 'url(' + song.albumImage + ')'}">
      <div class="overlay"></div>

      <button class="play-btn" (click)="onclickPlay()">
        <img src="../../../assets/Iconos/play-circle.png" alt="play" />
      </button>
    </div>

    <div class="footer">
      <img src="../../../assets/Iconos/danceability.png" class="subIcon" alt="play" /> : <p>{{song.danceability? (song.danceability  | formatSongData: 'decimal'):'' }}</p>
      <img src="../../../assets/Iconos/energy.png" class="subIcon" alt="play" /> : <p>{{ song.energy? (song.energy  | formatSongData: 'decimal') : ''}}</p>
      <img src="../../../assets/Iconos/key.png" class="subIcon" alt="play" /> : <p>{{ song.key !== null && song.key !== undefined ? (song.key | formatSongData: 'key') : '' }}</p> 
      <img src="../../../assets/Iconos/tempo.png" class="subIcon" alt="play" /> : <p>{{ song.tempo ? (song.tempo | formatSongData: 'tempo') : '' }}</p>
      <img src="../../../assets/Iconos/duracion.png" class="subIcon" alt="play" /> : 
      <p>{{ song.durationMs }}</p>
    </div>
  </div>
</div>



