<main>
    <!-- Botón de retroceso con imagen de ícono -->
    <a routerLink="">
        <img src="../../../assets/Iconos/back.png" class="back" alt="play" />
    </a>

    <!-- Campo de entrada para nombrar el set -->
    <div class="input-container">
        <input type="text" class="title-input" placeholder="" (input)="onInputChange($event)" (focus)="onInputFocus()">
        <span class="fake-placeholder">Nombra tu nuevo <span class="highlighted-text">Set</span></span>
    </div>

    <!-- Flecha con animacion -->
    <div class="arrow-container" *ngIf="showArrow">
        <img src="../../../assets/Iconos/flecha izquierda nueva.png" class="arrow" alt="Flecha apuntando al input" />
    </div>

    <!-- Mensaje principal -->
    <div class="mensaje-principal">
        <p>Aún no tienes <span class="highlighted-text">Canciones</span></p>
        <p>¡Nombra tu <span class="highlighted-text">Set</span> y añade una <span class="highlighted-text">Canción</span> con esté botón!</p>
        <button [disabled]="!inputValue" [ngClass]="{'active': inputValue, 'disabled': !inputValue}" (click)="navigateToSongs()" (click)="addSet()">
            Añadir canción
        </button>
    </div>

</main>

