<main>

    <a routerLink="/editar-set" routerLinkActive="active"><img src="../../../assets/Iconos/back.png" class="back" alt="play" /></a>
  
    <p class="title">Análisis del <span>Set</span></p>

    <div *ngIf="isLoading" class="loading-container">
      <p>Cargando los datos...</p>
    </div>

    <div *ngIf="errorMessage" class="loading-container">
      <p>No existen datos para las canciones de tu set</p>
    </div>
  
    <div class="content" *ngIf="!isLoading">

      <div class="head">

        <div class="stats">

          <div class="stat stat1">{{setAnalysisData.totalSongs}} <br>Canciones</div>
          <div class="stat stat2">{{setAnalysisData.totalDuration | formatSongData: 'duration'}} <br>Minutos</div>
          <div class="stat stat3">{{ setAnalysisData.averageDanceability | formatSongData: 'decimal' }} <br>Avg Danceability</div>
          <div class="stat stat4">{{ setAnalysisData.averageTempo | formatSongData: 'tempo'  }} <br>Avg Tempo</div>

        </div>

        <div class="barras">
          <canvas id="barChart"></canvas>
        </div>

      </div>
  
      <div class="graficos">
        
        <div class="grafic1">
          <canvas id="lineChart1" class="graf"></canvas>
        </div>
  
        <div class="grafic2">
          <canvas id="lineChart2" class="graf"></canvas>
        </div>

      </div>

    </div>

  </main>
  