<main>

    <a routerLink="/editar-set" routerLinkActive="active"><img src="../../../assets/Iconos/back.png" class="back" alt="play" /></a>
  
    <p class="title">Analisis del <span>Set</span></p>
  
    <div class="content">

      <div class="head">

        <div class="stats">

          <div class="stat stat1">30 <br>Canciones</div>
          <div class="stat stat2">230 <br>Minutos</div>
          <div class="stat stat3">0.7 <br>Avg Danceability</div>
          <div class="stat stat4">180 <br>Avg Tempo</div>

        </div>

        <div class="circulo">
          <canvas id="doughnutChart"></canvas>
        </div>

      </div>
  
      <div class="graficos">
        
        <div class="grafic1">
          <canvas id="lineChart1" class="graf"></canvas>
        </div>
  
        <div class="grafic2">
          <canvas id="lineChart2" class="graf"></canvas>
        </div>

      </div>

    </div>

  </main>
  